.root {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  max-width: var(--ds-measure-md);

  &[data-align='center'] {
    align-items: center;
    margin-inline: auto;
    text-align: center;
  }
}

.body {
  color: var(--ds-color-text-muted);
}
